<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">Invalid inputs! Please review the form.</div>  
    <div class="form-group">
          <label for="firstName">First Name</label>
         <input required
                minlength="3"
                maxlength="10"
                pattern="banana"
                ngModel
                name="firstName"
                #firstName="ngModel"
                (change)="log(firstName)"
                type="text" 
                class="form-control" 
                id="firstName"
                placeholder="Pattern = 'banana'">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
              <div *ngIf="firstName.errors.required">First name is required!</div>
              <div *ngIf="firstName.errors.minlength">First name should have a minimum of {{ firstName.errors.minlength.requiredLength }} characters!</div>
              <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern!</div>
            </div>
        </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" 
              cols="30" rows="10"
              class="form-control" 
              id="comment"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed">Subscribe to our mailing list!
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple 
            ngModel name="contactMethod" 
            id="contactMethod" 
            class="form-control">
      <option value="">Please make a selection</option>
      <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio">
    <label for="">
      <input ngModel name="contactMethod" 
             type="radio"
             [value]="method.id">
      {{ method.name }}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>