<div class="card text-center">
    <h2 class="card-title">Expense Reimbursements</h2>
    <div class="card-text">
        <p>
            Welcome to the expense reimbursement processing application.
            <br> Here you can submit your reimbursement requests for approval.
            <br> To get started, please login or create an account.
        </p>
        <div class="form-group">
            <button class="btn btn-primary" id="loginButton" routerLink="/login">Login</button>
            <button class="btn btn-success" id="registerButton" routerLink="/register">Create Account</button>
        </div>
    </div>
</div>