<div id="rt">
 <h1><strong>Registration</strong></h1>
	<div class="alert alert-danger" id="emptymessage">Null Fields</div>
 	<input type="text" id="fn" placeholder="First Name"> <br>
	<input type="text" id="ln" placeholder="Last Name"> <br> 
	<input type="text" id="username" placeholder="Username"> <br>
	<input type="password" id="pass" placeholder="password"><br>
	<input type="text" id="email" placeholder="Email"> <br> 
	<div class="alert alert-danger" id="emessage"></div>
	<p>Please check if you are a manager: <input id="role" type="checkbox"></p>
	<br>

	<button id="registerRegister" class="btn btn-primary">Register</button>
</div>