<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bank</display-name>
  <welcome-file-list>
    <welcome-file>app.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.rev.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.rev.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidationServlet</display-name>
    <servlet-name>EmailValidationServlet</servlet-name>
    <servlet-class>com.rev.servlets.EmailValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidationServlet</servlet-name>
    <url-pattern>/EmailValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileViewServlet</display-name>
    <servlet-name>ProfileViewServlet</servlet-name>
    <servlet-class>com.rev.servlets.ProfileViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileViewServlet</servlet-name>
    <url-pattern>/ProfileViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeViewServlet</display-name>
    <servlet-name>HomeViewServlet</servlet-name>
    <servlet-class>com.rev.servlets.HomeViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeViewServlet</servlet-name>
    <url-pattern>/HomeViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameValidationServlet</display-name>
    <servlet-name>UsernameValidationServlet</servlet-name>
    <servlet-class>com.rev.servlets.UsernameValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameValidationServlet</servlet-name>
    <url-pattern>/UsernameValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginViewServlet</display-name>
    <servlet-name>LoginViewServlet</servlet-name>
    <servlet-class>com.rev.servlets.LoginViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginViewServlet</servlet-name>
    <url-pattern>/LoginViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterViewServlet</display-name>
    <servlet-name>RegisterViewServlet</servlet-name>
    <servlet-class>com.rev.servlets.RegisterViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterViewServlet</servlet-name>
    <url-pattern>/RegisterViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.rev.servlets.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>