<div>
		<h2>Enter which fields you want to update</h2>
		<input id="firstname" type="text" class="form-control" name="firstname" placeholder="First Name" />
		<input id="lastname" type="text" class="form-control" name="lastname" placeholder="Last Name" />
		<input id="email" type="text" class="form-control" name="email" placeholder="Email" />
		<input id="username" type="text" class="form-control" name="username" placeholder="Username" />
		<input id="password" type="text" class="form-control" name="password" placeholder="Password" />
		<button id="submit changes" >Submit Changes</button>
</div>

