<div>
<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Welcome!</h1>
                    <p align="justify">Select one of the following:</p>
                </div>
            <div class="panel panel-default">
                    <button id="addRequest" runat="server" class="btn btn-default"  style="width: 50%">
                        Submit Request<i class="glyphicon glyphicon-log-in"></i>
                    </button>
                    <br><br>
                    <button id="viewRequests" runat="server" class="btn btn-default" style="width: 50%">
                        View Submitted Requests<i class="glyphicon glyphicon-log-in"></i>
                    </button>  
                    
                </div>
            </div>
			</div>
</div>
