@charset "ISO-8859-1";

.code {
	
	font-family: Courier;
	font-weight: 200;
	
	margin-left: 100px;
	margin-right: 100px;
	
	border: 1px solid grey;
	border-radius: 5px;
	
	padding: 10px 10px 10px 10px;
	
	background: #e9ebed;
	
}