<div id="updateRequestContent">
	<br />
	<h5 class="custom-color" style="text-align: center; margin-top: 10px">Reimbursement Details</h5>
	<hr />
	<div id="editRequest" class="custom-color">
	<br />
	<div class="row">
		<div class="col-sm-3">
			<h6>ID:</h6>
			<h6>Amount:</h6>			
			<h6>Author:</h6>		
			<h6>Status:</h6>		
			<h6>Type:</h6>			
			<h6>Submitted:</h6>		
			<h6>Resolved:</h6>		
			<h6>Resolver ID:</h6>		
			<h6>Description:</h6>	
			<h6>Receipt:</h6>		
			<h6>Action:</h6>		
			<h6>Update:</h6>
			<br />		
		</div>
				
		<div class="col-sm-1">	
		</div>
				
		<div class="col-sm-8">
			<h6 id="idDetail">-</h6>
			<h6 id="amountDetail">-</h6>		
			<h6 id="authorDetail">-</h6>	
			<h6 id="statusDetail">-</h6>	
			<h6 id="typeDetail">-</h6>		
			<h6 id="submittedDetail">-</h6>	
			<h6 id="resolvedDetail">-</h6>	
			<h6 id="resolverDetail">-</h6>	
			<h6 id="descDetail">-</h6>		
			<h6 id="receiptDetail">-</h6>	
			<h6 id="updateDetail">
				<input type="radio" name="resolveAction" value="Pending"> Pending
				<input type="radio" name="resolveAction" value="Approve"> Approve
				<input type="radio" name="resolveAction" value="Deny"> Deny
			</h6>							
			<button id="updateDetailsBtn" class="form-control btn-custom">Update Status</button>
			<br />
		</div>
		
	</div>	
	</div>     
</div>