<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
	<a class="navbar-brand" href="#"><img src="images/ERS_icon.png"
		width="30" height="30" alt="">ERS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" id="profile">My Profile</a><span class="sr-only">(current)</span>
			<a class="nav-item nav-link"
				id="reimb">Expense Reimbursement</a>
				<a class="nav-item nav-link" id="logout">Logout</a>
		</div>
	</div>
</nav>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to log out?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
        <button type="button" class="btn btn-success" id="ok">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="container" id="appview"></div>
