	<table id = "reimbTable">
		<thead>
			<tr>
				<th>Reimb ID</th>
				<th>Requester</th>
				<th>Created Date</th>
				<th>Type</th>
				<th>Total Amount</th>
				<th>Description</th>
				<th>Status</th>
				<th>Resolved Date</th>
				<th>Resolver</th>
				<th>Command</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Reimb ID</th>
				<th>Requester</th>
				<th>Created Date</th>
				<th>Type</th>
				<th>Total Amount</th>
				<th>Description</th>
				<th>Status</th>
				<th>Resolved Date</th>
				<th>Resolver</th>
				<th>Command</th>
			</tr>
		</tfoot>
	</table>