<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		
		<property name="hibernate.hbm2ddl.auto">create</property> <!-- Change this to create/update depending on if you need to create or update a table (Hibernate Mapping 2 Data Definition Language -->
		<property name="show_sql">true</property>
		
		<!-- Region factory class is used to define the factory class for second level caching. -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		
		<!-- enable second level and query cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		
		<!-- Used to define the EH Cache conig file location -->
		<property name="net.sf.ehcache.configurationResourceName">/myehcache.xml</property>
		
		<mapping class="com.ex.beans.Student"/> <!-- Add any object classes used to the mapping -->
		<mapping class="com.ex.beans.Course"/>
		<mapping class="com.ex.beans.Transcript"/>
		<mapping class="com.ex.beans.Instructor"/>
		
		<mapping resource="com/ex/beans/product.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>