<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.hbm2ddl.auto">update</property> <!-- Change this to create/update depending on if you need to create or update a table (Hibernate Mapping 2 Data Definition Language -->
		<property name="show_sql">true</property>
		
		<mapping class="com.ex.beans.Student"></mapping> <!-- Add any object classes used to the mapping -->
		<mapping class="com.ex.beans.Course"></mapping>
		<mapping class="com.ex.beans.Transcript"></mapping>
		<mapping class="com.ex.beans.Instructor"></mapping>
		
	</session-factory>
</hibernate-configuration>