<div class="card" (keyup.enter)="submit()">
  <div class="card-block">
    <h2 class="card-title text-center">Create Account</h2>
    <div class="card-text">
      <div class="form-group row">
        <div class="col">
          <div class="row">
            <label for="username" class="col-3 col-form-label">Username</label>
            <div class="col-8">
              <input type="text" #username (keyup)="updateUsername(username.value)" (blur)="usernameBlur()" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="row text-center">
            <p class="col text-danger">{{usernameWarning}}</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-3 col-form-label">Password</label>
        <div class="col-8">
          <input type="password" #password1 (keyup)="updatePassword1(password1.value)" (blur)="passwordBlur()" class="form-control"
            placeholder="Password">
        </div>
      </div>
      <div class="row">
        <p class="text-danger" id="passwordFormatWarning"></p>
      </div>
      <div class="form-group row">
        <label for="confirmPassword" class="col-3 col-form-label">Confirm Password</label>
        <div class="col-8">
          <input type="password" #password2 (keyup)="updatePassword2(password2.value)" (blur)="passwordBlur()" class="form-control"
            placeholder="Password">
        </div>
      </div>
      <div class="row text-center">
        <p class="col text-danger">{{passwordWarning}}</p>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Position</label>
        <div class="col-4">
          <label for="role1" class="col-form-label">Employee</label>
          <input type="radio" class="role" name="role" id="role1" value="1" checked>

        </div>
        <div class="col-4">
          <label for="role2" class="col-form-label">Manager</label>
          <input type="radio" class="role" name="role" id="role2" value="2">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-3 col-form-label">Email</label>
        <div class="col-8">
          <input type="text" #email (keyup)="updateEmail(email.value)" (blur)="emailBlur()" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="row text-center">
        <p class="col text-danger">{{emailWarning}}</p>
      </div>
      <div class="form-group row">
        <label for="email" class="col-3 col-form-label">First Name</label>
        <div class="col-8">
          <input type="text" #firstName (keyup)="updateFirstname(firstName.value)" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-3 col-form-label">Last Name</label>
        <div class="col-8">
          <input type="text" #lastName (keyup)="updateLastname(lastName.value)" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group-row">
        <button id="createAccountButton" class="btn btn-success offset-5" (click)="submit()">Create Account</button>
      </div>
    </div>
  </div>
</div>