<!--<input type="text" [(ngModel)]="username" placeholder="Username">
<input type="password" [(ngModel)]="pass" placeholder="Password">
<button (click)="login()">Login</button>
<button (click)="register()">Register</button>

-->
<!--Pulling Awesome Font -->

<div class="container">
        <div class="login-container">
                <div id="output"></div>
                <div class="avatar"></div>
                <div class="form-box">
                    <form action="" method="">
                        <input name="user" [(ngModel)]="username" type="text" placeholder="username">
                        <input name="password" type="password" [(ngModel)]="pass" placeholder="password">
                        <button (click)="login()" class="btn btn-info btn-block login">Login</button>
                        <button (click)="register()" class="btn btn-info btn-block login">Register</button>
                    </form>
                </div>
            </div> 
    </div>