<div class="login-container mx-auto" id="up-account">
    <h1 class="text-center">Manage Account</h1>
    <hr/>
    <input type="text" class="form-control" id="email" placeholder="Email">
    <br>
    <input type="username" class="form-control" id="up-username" placeholder="Username">
    <br>
    <input type="password" class="form-control" id="up-password" placeholder="Password">
    <br>
    <input type="password" class="form-control" id="up-confirm-password" placeholder="Confirm Password">
</div>