<div class="login-container was-validated mx-auto" id="ca-input">
    <h2 class="text-center">Create Account</h2>
    <button type="submit" class="btn btn-link btn-block" id="returning-users">Already have an account? Click here</button>
    <br>
    <input type="text" class="form-control" id="firstname" placeholder="First Name" required>
    <div class="invalid-feedback" id="invalid-firstname">
    </div>
    <br>
    <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
    <div class="invalid-feedback" id="invalid-lastname">
    </div>
    <br>
    <input type="text" class="form-control" id="email" placeholder="Email" required>
    <div class="invalid-feedback" id="invalid-email">
    </div>
    <br>
    <div class="alert alert-danger bad-username" role="alert" id="bad-username"></div>
    <br class="bad-username" />
    <input type="username" class="form-control" id="username" placeholder="Username" required>
    <div class="invalid-feedback" id="invalid-username">
    </div>
    <br>
    <div class="alert alert-danger bad-password" role="alert" id="bad-password"></div>
    <br class="bad-password" />
    <input type="password" class="form-control" id="password" placeholder="Password" required>
    <div class="invalid-feedback" id="invalid-password">
    </div>
    <br>
    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required>
    <div class="invalid-feedback" id="invalid-confirm-password">
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" id="manager-check" type="checkbox" value=""> Check if you are a financial manager
        </label>
    </div>
    <input type="submit" class="btn btn-primary" id="create-account" value="Create Account" />
</div>