<div class="mx-auto" id="user-reimbs">
    <h3>Your Reimbursements</h3>
    <hr/>
    <ul class="nav nav-tabs flex-row" id="tablefilters">
        <li class="nav-item">
            <button class="btn btn-link nav-link active" id="showpending">Show Pending</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link nav-link" id="showresolved">Show Resolved</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link nav-link" id="showall">Show All</button>
        </li>
        <div class="form-inline ml-auto">
            <button class="btn btn-link" data-toggle="modal" data-target="#create-ticket-modal" id="create-ticket">Create Ticket</button>
        </div>
    </ul>
    <div id="reimb-table"></div>
</div>