<div class="mx-auto">
    <br/>
    <div class="row justify-content-between">
        <div class="col-4">
            <h3>Reimbursements</h3>
            <!-- <button class="btn btn-link" id=""></button> -->
        </div>
        <div class="col-3 text-right">
            <button class="btn btn-link" id="create-ticket">Create Ticket</button>
        </div>
    </div>
    <hr/>
    <div class="row" id="create-ticket-view"></div>
    <table class="table" id="reimb-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <!-- <th scope="col">Receipt</th> -->
                <th scope="col">Submitted</th>
                <th scope="col">Resolved</th>
                <th scope="col">Resolved by</th>
            </tr>
        </thead>
        <tbody id="table-data">

        </tbody>
    </table>
</div>
<br><br>