<div class="login-container mx-auto" id="login-input">
    <h1 class="text-center">ERS Login</h1>
    <hr/>
    <button class="btn btn-link btn-block" id="new-users">New users click here</button>
    <br>
    <div class="alert alert-danger message" role="alert" id="message"></div>
    <br class="message"/>
    <input type="text" class="form-control" id="username" placeholder="Username">
    <br>
    <input type="password" class="form-control" id="password" placeholder="Password">
    <br>
    <input type="submit" class="btn btn-primary" id="login" value="Login" />
</div>