<div class="login-container mx-auto" id="login-input">
    <h1 class="text-center">ERS Login</h1>
    <button class="btn btn-link btn-block" id="new-users">New users click here</button>
    <br>
    <div class="alert alert-danger bad-login" role="alert" id="bad-login"></div>
    <br class="bad-login" />
    <input type="text" class="form-control" id="username" placeholder="Username" required>
    <div class="invalid-feedback" id="invalid-username">
        Please enter a username.
    </div>
    <br>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
    <div class="invalid-feedback" id="invalid-password">
        Please enter a password.
    </div>
    <br>
    <input type="submit" class="btn btn-success" id="login" value="Login" />
</div>