<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:rgb(255, 75, 75);" id="navigation">
    <a class="navbar-brand" href="#">Employee Reimbursement System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="user-settings">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="#"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="manage-account" href="#">Manage Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" id="logout" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container" id="view"></div>