<section>
  <header class="header">
    <h1>Todos</h1>


  </header>

  <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">

  <section *ngIf="todos.length > 0">
    <ul>
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <input type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
        <label>{{todo.title}}</label>
        <button (click)="removeTodo(todo)">Remove</button>
      </li>
    </ul>

  </section>

  <footer *ngIf="todos.length > 0">
    <h4><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}</h4>
  </footer>
</section>