<h1 align="center">Expense Reimbursements System</h1>
<h4>Login:</h4>
<label class="col-form-label" for="formGroupExampleInput">username:</label>
<input id="username" type="text" class="col-3 form-control"
	placeholder="username" style="padding-top: 3px !important">
<label class="col-form-label" for="formGroupExampleInput">password:</label>
<input id="password" type="password" class="col-3 form-control"
	placeholder="password" style="padding-top: 3px !important" />
<br>
<input type="button" class="btn btn-dark" id="login" value="Login">
<input type="button" class="btn btn-dark" id="register" value="Register">
<h4 id="notification" align="center"></h4>