<h1 align="center">Expense Reimbursements System</h1>
<h4 id="welcome" align="center"></h4>
<h4 id="chosen">View requests by status:</h4>

<input type="button" class="btn btn-dark" id="pending" value="Pending">
<input type="button" class="btn btn-dark" id="accepted" value="Approved">
<input type="button" class="btn btn-dark" id="denied" value="Denied">
<br>
<h6 id="manageInstructions"></h6>
<table id="table_id" class="table">
<thead id="col_names">
</thead>
<tbody id="rows">
</tbody>
</table>
<input type="button" class="btn btn-dark" id="newreimb" value="Add New">

<script>
var user;
getUserInfo();
var firstname=user.firstname;
var role=user.role;
$("#welcome").html(`Welcome ${firstname}. `+'<input type="button" class="btn btn-dark" id="logout" value="Log Out">');

getTableHead(role);
$("#newreimb").on('click',sendToNewReimbursement);
$("#logout").on('click',logout);
$("#pending").on('click',function(){
	var rStatus="pending";
	getRows(role,rStatus);
	$("#chosen").html("Pending Reimbursements");
	if(role==1){
		$("#manageInstructions").html('Click on a pending request to resolve.');
	}
});
$("#accepted").on('click',function(){
	var rStatus="accepted";
	getRows(role,rStatus);
	$("#chosen").html("Accepted Reimbursements");
	$("#manageInstructions").html('');
});
$("#denied").on('click',function(){
	var rStatus="denied";
	getRows(role,rStatus);
	$("#chosen").html("Denied Reimbursements");
	$("#manageInstructions").html('');
});

function getUserInfo(){
	var xhr=new XMLHttpRequest();
	xhr.onreadystatechange=function(){
		if(xhr.status==200 && xhr.readyState==4){
			var userJson=xhr.responseText;
			user=JSON.parse(userJson);
		}
	}
	xhr.open("GET","getSessionInfo",false);
	xhr.send();
};

function sendToNewReimbursement(){
	var xhr=new XMLHttpRequest();
	xhr.onreadystatechange=function(){
		if(xhr.status==200 && xhr.readyState==4){
			newReimbursementPage=xhr.responseText;
			$("#view").html(newReimbursementPage);
		}
	}
	xhr.open("GET","newReimbursement.view",true);
	xhr.send();
};

function getTableHead(role){
	var xhr=new XMLHttpRequest();
	xhr.onreadystatechange=function(){
		tableHead=xhr.responseText;
		$("#col_names").html(tableHead);
	}
	xhr.open("POST","getTableHead",true);
	xhr.send(role);
};

function getRows(role, status){
	var xhr=new XMLHttpRequest();
	var tableKind={
			"role":role,
			"status":status
	};
	var json=JSON.stringify(tableKind);
	xhr.onreadystatechange=function(){
		if(xhr.status==200 && xhr.readyState==4){
			tableRows=xhr.responseText;
			$("#rows").html(tableRows);
		}
	}
	xhr.open("POST","populateRows",false);
	xhr.send(json);
};

function updateReimbursement(rId){
	var xhr=new XMLHttpRequest();
	xhr.onreadystatechange=function(){
		if(xhr.status==200 && xhr.readyState==4){
			var resolveReimb=xhr.responseText;
			console.log(rId);
			$("#view").html(resolveReimb);
		}
	}
	xhr.open("POST","updateReimbursement",true);
	xhr.send(rId);
};

function logout(){
	var xhr= new XMLHttpRequest();
	xhr.onreadystatechange=function(){
		if(xhr.status==200 && xhr.readyState==4){
			sendToLogin();
		}
	}
	xhr.open("GET","logout",true);
	xhr.send();
};
</script>