<div id="editProfile-container">
	<h2>User Profile</h2>
	<em>Fields with blank values will not be updated</em>
	<hr>
	<strong>First name:</strong> <span id="user-firstname"></span><br>
	<br> <strong>Last name:</strong> <span id="user-lastname"></span><br>
	<br> <strong>User role:</strong> <span id="user-role"></span><br>
	<br> <strong>Username:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" placeholder="New username" id="editProfile-username"/><br>
	<br> <strong>Email address:</strong> &nbsp;<input type="email" placeholder="New email address" id="editProfile-email"/><br>
	<br> <strong>Password:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" placeholder="New password" id="editProfile-password"/><br>
	<br>
	<button class="btn btn-primary" id="updateProfile-btn">Update User Profile</button>&nbsp;&nbsp;
	<button class="btn btn-primary" id="goBack-btn">Go Back</button><br><br>
	<div class="alert alert-danger" id="editProfile-message" style="width: 50%"></div>
</div>