<div class="login">
	<h1>Login</h1><br>
   	<input type="text" name="username" placeholder="Username" required="required" class="log-inputs" id="login-username"/>
    <input type="password" name="password" placeholder="Password" required="required" class="log-inputs" id="login-password"/>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="login-btn">Login</button><br>
    <div class="alert alert-danger" id="login-message"></div><br>
    <hr><br>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="newUserRegister-btn">New User Registration</button>
    <hr>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="managerLogin-btn">Manager Login</button>
</div>