<div class="login">
	<h1>Manager Login</h1><br>
   	<input type="text" name="username" placeholder="Username" required="required" class="log-inputs" id="mlogin-username"/>
    <input type="password" name="password" placeholder="Password" required="required" class="log-inputs" id="mlogin-password"/>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="mlogin-btn">Login</button><br>
    <div class="alert alert-danger" id="mlogin-message"></div><br>
    <hr><br>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="userLogin-btn">Standard User Login</button>
</div>