<div class="register">

	<h1>New User Registration</h1><br><br>
	<input type="text" name="fn" placeholder="Enter your first name" required="required" class="reg-inputs" id="register-fn" />
	<input type="text" name="ln" placeholder="Enter your last name" required="required" class="reg-inputs" id="register-ln" />
	<input type="email" name="email" placeholder="Enter your email address" required="required" class="reg-inputs" id="register-email" />
	<input type="text" name="username" placeholder="Enter your desired username" required="required" class="reg-inputs" id="register-username" />
	<input type="password" name="password" placeholder="Enter your desired password" required="required" class="reg-inputs" id="register-password" />
	<br>
	<button type="submit" class="btn btn-primary btn-block btn-large" id="register-btn">Register</button>
	<br>
	<div class="alert alert-danger" id="register-message"></div><br>
	<hr><br>
	<a href="ers.html">Already registered? Click here to sign in!</a>
	
</div>