<div id="container">
	
	<input id="userProfile-tab" type="radio" name="tab-group"/> <label for="userProfile-tab">User Profile</label> 
	<input id="openTicket-tab" type="radio" name="tab-group" /> <label for="openTicket-tab">Open Reimbursement Request</label> 
	<input id="viewPending-tab" type="radio" name="tab-group" /> <label for="viewPending-tab">View Pending Reimbursements</label> 
	<input id="viewResolved-tab" type="radio" name="tab-group" /> <label for="viewResolved-tab">View Resolved Reimbursements</label>
	<input id="logout-tab" type="radio" name="tab-group" /> <label for="logout-tab">Logout</label>
	
	<div id="content"></div>
	
</div>