<div id="pendingDetails-container" style="padding-top: 0;">
	<br>
	<h2>Pending Reimbursement Details</h2>
	<hr>
	<strong>Reimbursement Id:</strong> <span id="pendingDetails-id"></span><br>
	<br><strong>Author:</strong> <span id="pendingDetails-authorId"></span><br>
	<br><strong>Type:</strong> <span id="pendingDetails-type"></span><br>
	<br><strong>Status:</strong> <span id="pendingDetails-status"></span><br>
	<br><strong>Amount:</strong> $<span id="pendingDetails-amount"></span><br>
	<br><strong>Description:</strong> <br>
		<p style="width: 300px; text-align: justified; padding-left: 30px; max-height: 100px;"><span id="pendingDetails-description"></span></p><br>
	<button class="btn btn-primary" id="editPending-btn">Edit Reimbursement</button>&nbsp;&nbsp;
	<button class="btn btn-primary" id="goBack-btn">Go Back</button>
</div>