<div id="editProfile-container">
	<br>
	<h2>User Profile</h2>
	<hr>
	First name: <span id="user-firstname"></span><br>
	<br> Last name: <span id="user-lastname"></span><br>
	<br> User role: <span id="user-role"></span><br>
	<br> Username: <input type="email" placeholder="New username" id="editProfile-username"/><br>
	<br> Email address: <input type="email" placeholder="New email address" id="editProfile-email"/><br>
	<br> Password: <input type="email" placeholder="New password" id="editProfile-password"/><br>
	<br>
	<button class="btn btn-primary" id="edit-profile-btn">Edit User Profile</button>
</div>