<div id="userProfile-container">
	<br>
	<h2>User Profile</h2>
	<hr>
	<strong>First name:</strong> <span id="user-firstname"></span><br>
	<br> <strong>Last name:</strong> <span id="user-lastname"></span><br>
	<br> <strong>User role:</strong> <span id="user-role"></span><br>
	<br> <strong>Username:</strong> <span id="user-username"></span><br>
	<br> <strong>Email address:</strong> <span id="user-email"></span><br>
	<br>
	<button class="btn btn-primary" id="editProfile-btn">Edit User Profile</button>
</div>