<div id="openTicket-container">
	<h2>Open New Expense Reimbursement Ticket</h2><hr>
	<strong>Reimbursement Type</strong><br> 
	<select id="openTicket-type">
		<option value="lodging">Lodging</option>
		<option value="travel">Travel</option>
		<option value="food">Food</option>
		<option value="other">Other</option>
	</select> <br>
	<br> <strong>Reimbursement Amount</strong> <br> $<input
		type="number" name="username" placeholder="Amount" required="required"
		class="form-control" id="openTicket-amount" /><br>
	<br> <strong>Reimbursement Description</strong><br>
	<textarea id="openTicket-description"></textarea>
	<br>
	<br>

	<button class="btn btn-primary" id="openTicket-btn">Submit</button>
</div>