<div class="card text-center">
  <div class="card-block">
    <h2 class="card-title">Change Password</h2>
    <div class="card-text">
      <div class="form-group row text-center">
        <input class="col" type="password" [(ngModel)]="old" placeholder="Old Password">
      </div>
      <div class="form-group row text-center">
        <input class="col" type="password" [(ngModel)]="new1" placeholder="New Password">
      </div>
      <div class="form-group row text-center">
        <input class="col" type="password" [(ngModel)]="new2" placeholder="Confirm New Password">
      </div>
      <div class="form-group row text-center">
        <p class="col">{{message}}</p>
      </div>
      <div class="form-group row text-center">
        <button class="btn btn-primary col" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>