Firstname:
<input name="firstname" type="text" [(ngModel)]="model.firstname" placeholder="First name">
<br/><br/>
Lastname:
<input name="lastname" type="text" [(ngModel)]="model.lastname" placeholder="Last name">
<br/><br/>
Email:
<input name="email" type="email" [(ngModel)]="model.email" placeholder="Email">
<br/><br/>
Username:
<input name="username" type="text" [(ngModel)]="model.username" placeholder="Username">
<br/><br/>
Password:
<input name="password" type="password" [(ngModel)]="model.password" placeholder="Password">
<br/><br/>
Balance:
<input name="balance" type="number" [(ngModel)]="model.balance" placeholder="Balance">
<br/><br/>
<button (click)="register()">Submit</button>