<div>
	<div id="userInfo"></div>
	<h2 style="margin-left:5%;">Your Reimbursement Requests:</h2>
	<div id="userReimbursements" style="width:90%; margin:auto;">
		<table id="userReimbs" class="display dataTable" cellspacing="0"
			style="text-align:center" role="grid">
			<thead>
				<tr>
					<th class="sorting_asc" tabindex="0">ID</th>
					<th class="sorting">Amount</th>
					<th class="sorting">Submission Date</th>
					<th class="sorting">Description</th>
					<th class="sorting">Type</th>
					<th class="sorting">Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="userReimbsBody">
			</tbody>
		</table>
	</div>
</div>