<div id="newRequestBody">
	<h1>Create A New Reimbursement Request</h1>
	<label for="reqAmount">Amount: $</label> 
	<input type="text" class="form-control" id="reqAmount" placeholder="Enter amount"> 
	<div id="reqType"></div>
	<label for="reqDesciption">Description: </label>
	<textarea id="reqDescription" rows="5" cols="20" placeholder="Decribe the reasoning behind your request (optional)"></textarea>
	<div class="alert alert-danger" id="errmessage">Please fill all requirements</div>
	<br>
	<button id="createRequest" class="btn btn-primary">Create Request</button>
</div>