<div id="newRequestBody">
	<br>
	<h1 style="text-align: center; margin-bottom:20px;">Create New Reimbursement Request</h1>
	<br><br>
	<div class="container" style="margin: auto; box-shadow: 4px 8px 6px #888888; text-align:center; width:450px; border:solid; border-width:1px; border-radius: 25px;">
		<label for="reqAmount">Amount: $ </label><input type="text"
			class="form-control" id="reqAmount" style="display:inline; margin-top: 10px; width: 80px;"
			placeholder="0.00"> <br>
		<div id="reqType1" style="margin-top: 10px;"></div>
		<label for="reqDesciption">Description: <br>(optional)</label>
		<textarea id="reqDescription" style="display:inline;vertical-align:middle; overflow: hidden; margin-top: 10px; height:80px; margin-bottom:15px;" cols="30"
			placeholder="Decribe the reasoning behind your request"></textarea>
		<div class="alert alert-danger" id="errmessage">Please provide a valid amount and request type</div>
		<button id="createRequest" style="text-align:center; margin-bottom:15px;" class="btn btn-primary">Create
			Request</button>
	</div>
</div>