<div id="loginBody">
	<h1>Login and Registration</h1>
	<label for="username">Username</label> <input type="text"
		class="form-control" id="username" placeholder="Enter username">
	<label for="password">Password</label> <input type="password"
		class="form-control" id="password" placeholder="Password"> <input
		type="submit" id="login" value="Log In" class="btn btn-primary">
	<button id="register" class="btn btn-primary">Register</button>
	<div class="alert alert-info" id="outcome"></div>
</div>