<div id="loginBody" style="text-align:center;">
<br>

	<h1>Welcome to ERS</h1>
	<div style="margin: auto; text-align: center; font-weight: bold; width: 300px;">
		<div
			style="clear: both; width: 100%; float: left; text-align: right; padding-top: 20px;">
			<label for="username">Username: </label> <input type="text"
				style="width: 70%; display: inline;" class="form-control"
				id="username" placeholder="Enter username">
		</div>
		<div
			style="clear: both; width: 100%; float: left; text-align: right; padding-top: 20px;">
			<label for="password">Password: </label> <input type="password"
				style="width: 70%; display: inline;" class="form-control"
				id="password" placeholder="Enter password">
		</div>
		<div style="clear: both; padding-top: 20px;">
			<input type="submit" id="login" value="Log In"
				class="btn btn-primary">
			<button id="register" style="margin-left:20px;" class="btn btn-primary">Register</button>
		</div>
		<div class="alert alert-danger" style="margin-top:7px;" id="outcome"></div>
	</div>
</div>