<div>
	<h2>Reimbursement Requests:</h2>
	<div id="reimbursements">
		<table id="allReimbs" class="display dataTable" cellspacing="0"
			width="100%" role="grid">
			<thead>
				<tr>
					<th class="sorting_asc" tabindex="0">ID</th>
					<th class="sorting">Amount</th>
					<th class="sorting">Submission Date</th>
					<th class="sorting">Resolved Date</th>
					<th class="sorting">Description</th>
					<th class="sorting">Author</th>
					<th class="sorting">Resolver</th>
					<th class="sorting">Type</th>
					<th class="sorting">Status</th>
				</tr>
			</thead>
			<tbody id="allReimbsBody">
			</tbody>
		</table>
	</div>
	<div id="changeReimbursementContainer" style="margin: auto; margin-bottom: 5px; text-align:center; border:solid; border-width:1px; border-radius: 25px; width: 35%; max-width: 400px; min-width:360px;">
		<label for="selected" id="sLabel">Selected Reimbursement: </label>
		<div id="selected" style="display: inline;"></div>
		<div id="reqStatus"></div>
		<div class="alert alert-danger" id="updateError">Please select
			approve or deny to update the reimbursement</div>
		<button id="updateStatus" style="margin-bottom: 4px; "class="btn btn-primary">Update
			Status</button>
	</div>
</div>