
<div id="registerBody" style="text-align:center; margin:auto; width:25%;">
<br>
	<h1>Register</h1>
	<input type="text" id="fn" placeholder="First Name" style="margin-top:10px;" class="form-control">
	<input type="text" id="ln" placeholder="Last Name" style="margin-top:10px;" class="form-control">
	<input type="text" id="email" placeholder="Email" style="margin-top:10px;" class="form-control">
	<div class="alert alert-danger" id="emessage"></div>
	<input type="text" id="username" placeholder="Username" style="margin-top:10px;" class="form-control">
	<div class="alert alert-danger" id="umessage"></div>
	<input type="password" id="pass" placeholder="Password" style="margin-top:10px;" class="form-control">
	<label for="role" style="margin-top:10px;">Manager: </label><input id="role" style="margin-left: 8px;" type="checkbox">
	<br>
	<div class="alert alert-danger" id="emptymessage">"Please fill all requirements to create your account."</div>
	<button id="registerRegister" style="margin-top:10px;" class="btn btn-primary">Register</button>
	<button id="registerCancel" style="margin-top:15px; margin-left:8px;" class="btn btn-primary">Cancel</button>
</div>