<div class="row">
	<div class="col-sm-4"> </div>
	<div class="col-sm-4"> <h3 class="text-center">ERS Website</h3> </div>
	<div class="col-sm-4" align="right">

 	 <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 	  <span class = "text-center font-italic" id="name"></span>
 	 </button>
 	 <div class="dropdown-menu dropdown-menu-right">
 	 	<button class="dropdown-item" type="button" id="homePage">Home</button>
 	 	<button class="dropdown-item" type="button" id="editProfile">Edit Profile Information</button>
  		<button class="dropdown-item" type="button" id="viewProfile">View Profile Information</button>
  	 	<button class="dropdown-item" type="button" id="viewRequest">View Past Reimbursement Requests</button>
  	 	<button class="dropdown-item" type="button" id="submitRequest">Create New Reimbursement Request</button>
  	  	<button class="dropdown-item" type="button" id="logout">Log Out</button>
	</div>
	</div>
</div>
<br><br><br><br>

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
<h3 class="text-center">Edit Profile Form</h3>
</div>
<div class="col-sm-4"></div>
</div>
<br>
<div>
<div class="row">
<div class="col-sm-4"></div>
<div align="center" class="col-sm-4">
	<input type="text" class="form-control" id="newFirst" placeholder="First Name"> <br>
	<input type="text" class="form-control" id="newLast" placeholder="Last Name"> <br>
	<input type="text" class="form-control" id="newEmail" placeholder="Email"><br>

	
	<div id="message" class="alert alert-danger text-center"></div>
	<div id="update" class="alert alert-info text-center"></div>
	<button id="newInfo" class=" btn btn-dark">Update</button>
	<button id="cancel" class="btn btn-dark">Cancel</button><br>
	<p id="changePassword" class="text-center"><font size="3"><a href="#" class="text-primary">Change Password</a></font></p> 
	<br>
</div>
<div class="col-sm-4"></div>
</div>
</div>