<div class="row">
	<div class="col-sm-4"> </div>
	<div class="col-sm-4"> <h3 class="text-center">ERS Website</h3> </div>
	<div class="col-sm-4" align="right">

 	 <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 	  <span class = "text-center font-italic" id="name"></span>
 	 </button>
 	 <div class="dropdown-menu dropdown-menu-right">
 	 	<button class="dropdown-item" type="button" id="homePage">Home</button>
 	 	<button class="dropdown-item" type="button" id="editProfile">Edit Profile Information</button>
  		<button class="dropdown-item" type="button" id="viewProfile">View Profile Information</button>
  	 	<button class="dropdown-item" type="button" id="viewRequest">View Requests</button>
  	  	<button class="dropdown-item" type="button" id="logout">Log Out</button>
	</div>
	</div>
</div>
<br><br><br><br>

<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h1 id="title" class="text-center font-talic"></h1>
	</div>
	<div class="col-sm-4"></div>
</div>
    
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4" align="center">
		<input type="submit" class="btn btn-dark" id="viewProfileButton" value="View Profile">
		<input type="submit" class="btn btn-dark" id="viewRequestButton" value="View Requests">
	</div>
	<div class="col-sm-4">
	</div>
</div>