<div>
<br><br><br>
<h3 class="text-center" id="submitTitle">Submit Reimbursement Request</h3>
<div class="row">
<div class="col-sm-4"></div>
<div align="center" class="col-sm-4">

	<input type="number" class="form-control" id="amount" placeholder="Amount"> <br>
	<input type="text" class="form-control" id="description" placeholder="Description"> <br>
	<input type="number" class="form-control" data-toggle="popover" title="Enter a number" data-content="(1)Lodging, (2)Travel, (3)Food, (4)Other" id="reimbursementtype" data-trigger="focus" placeholder="Type"><br>
	<br>
		<div  id="typemessage" class="alert alert-info text-center font-italic" >Amount must be greater than 0 and type needs to be a number from 1-4.</div> 
	<button id="submitrequest" class=" btn btn-dark">Submit Request</button>
	<br>
</div>
<div class="col-sm-4">
</div>
</div>
</div>

