@charset "ISO-8859-1";

body {
	background-color: #C8C8C8;
}
* {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	
}
#testid {
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #888888;
}

.jdbclogo {
	background-image: url('../images/images.png');
}

#navline {
	background-color: grey;
}

