



<div>
	<div id="panel">
		<div class="panel-heading">
			 <h3 class="panel-title"><center>Enter the reimbursement information</center></h3>
		</div>
		<br>
		<div class="form-group">
			<input class="form-control" id="amount"
				placeholder="Amount in $ (USD)" name="amount" type="text">
		</div>

		<div class="form-group">
			<select class="form-control" id="type">
				<option value="" selected disabled>Select Reimbursement Type</option>
				<option>Food</option>
				<option>Travel</option>
				<option>Lodging</option>
				<option>Other</option>
			</select>
		</div>

		<div class="form-group">
			<input class="form-control" id="description"
				placeholder="Description (Optional)" name="description" type="text">
		</div>

		<div class="form-group">
			<input id="request" class="btn btn-lg btn-success btn-block"
				type="submit" value="Submit Request">
		</div>

		<div class="alert alert-danger" id="message" ></div>
	</div>
</div>

