

<div>
	<div id="panel">
		<div class="panel-heading">
			 <h3 class="panel-title"><center>Enter the status you want to filter by</center></h3>
		</div>
		<br>
		
		<div class="form-group">
			<select class="form-control" id="status">
				<option value="" selected disabled>Select Reimbursement Status</option>
				<option>Pending</option>
				<option>Approved</option>
				<option>Denied</option>
			</select>
		</div>
		
		<div class="form-group">
			<input id="SubmitStatus" class="btn btn-lg btn-success btn-block" type="submit" value="Filter">	
		</div>
	</div>

	<br>
	<table class="table" id="table2">
		<thead>
			<tr>
				<th>Reimbursement ID</th>
				<th>Employee Name</th>
				<th>Email</th>
				<th>Amount</th>
				<th>Resolver Name</th>
				<th>Status</th>
				<th>Type</th>
				<th>Description</th>
				<th>Date Submitted</th>
				<th>Date Resolved</th>		
			</tr>
		</thead>
		<tbody id="table-body2">

		</tbody>
	</table>
</div>

