

<div>
	<div id="img">
		<img id="user" src="user.png">
	</div>
	<div id="userinfo">

		<p id="data">
			<b>Username: </b><span id="username"></span> <br>
			<b>First Name: </b><span id="firstname"></span> <br> 
			<b>Last Name: </b><span id="lastname"></span> <br> 
			<b>Email: </b><span id="email"></span> <br> 
			<b>User Role: </b><span id="userRole"></span> <br>
		</p>

		<div class="alert alert-danger" id="M" ></div>


		<button class="accordion">
			<p class="text-center">Edit Information</p>
		</button>
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title1">
					<center>
						<b>Enter the information you want to change</b>
					</center>
				</h3>
			</div>
			<div class="form-group">
				<input class="form-control" id="Username" placeholder="Username"
					name="username" type="text">
			</div>
			<div class="form-group">
				<input class="form-control" id="Password" placeholder="Password"
					name="password" type="password">
			</div>
			<div class="form-group">
				<input class="form-control" id="Firstname" placeholder="Firstname"
					name="firstname" type="text">
			</div>
			<div class="form-group">
				<input class="form-control" id="Lastname" placeholder="Lastname"
					name="lastname" type="text">
			</div>
			<div class="form-group">
				<input class="form-control" id="Email" placeholder="Email"
					name="email" type="text">
			</div>

			<input id="changeinfo" class="btn btn-lg btn-success btn-block"
				type="submit" value="Submit Changes" /> <br>
			<br>
			<br>
			<br>
		</div>
	</div>

</div>

