<div class="jumbotron">
<div class="container">
<input type="text" class = "form-control"(keyup)="onNameKeyUp($event)"><br>
<br>
<input type ="text" class="form-control" ng-model="string" (keyup)="onPasswordKeyUp($event)" [name]="password">
<br>
<button (click)="getUserbyUsername()" class="form-control">Submit</button>
</div>
</div>
<br>
<button>Home</button>
{{username}}
<div *ngIf="showInfo">
    <br>
        {{value}}
    <br>
        {{spouse}}
    <br>
    <button (click)="changeValue(4)" class="form-control">Estatic</button>
    <br>
    <button (click)="changeValue(3)" class="form-control">Happy</button>
    <br>
    <button (click)="changeValue(2)" class="form-control">mildly happy</button>
    <br>
    <button (click)="changeValue(1)" class="form-control">content</button>
    <br>
    
    <button>+0</button>
    <br>
    <button (click)="changeValue(-1)" class="form-control">annoyed</button>
    <br>
    <button (click)="changeValue(-2)" class="form-control">displease</button>
    <br>
    <button (click)="changeValue(-3)" class="form-control">angry</button>
    <br>
    <button (click)="changeValue(-4)" class="form-control">super angry</button>
</div>
