input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty{
    border: solid 1px rgb(250, 100, 100);
    background-color: rgb(255, 253, 253);
}

.invalidInput {
    color: red;
}

.simploy-bgcolor {
    background-color: rgb(50, 150, 125);
    color: rgb(255, 255, 255);
}